{
  "parser": "Babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "indent": [0, "tab"],
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "linebreak-style": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "jest/prefer-expect-assertions": "off",
    "jest/no-hooks": "off",
    "jest/consistent-test-it": "off"
  },
  "plugins": ["jest"],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:jest/all"
  ]
}